* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    width: 100%;
    min-height: 100vh; 
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 1.5rem;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100%;
}


.cadastro-container {
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-content {
    flex: 1;
    max-width: 1024px;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.cadastro-card {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
}

@media (min-width: 1024px) {
    .cadastro-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%; 
    }
}